.navbar-nav {
  margin-left: 56%;
}

img {
  margin-left: 27px;
}

.navbar-nav .nav-link {
  margin: 0 15px;
  font-family: sans-serif;
    font-size: larger;
 
}

.bg-light {
  padding: 20px 40px;
}

.w-100 {
  height: 105vh;
  width: 100%!important;
}

.slider-area{
  position: absolute;
  margin-top: -25%;
}

.header{
  height: 100vh;
  background-image: url(../images/b5.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  margin-bottom: 66px;
}
h1{
  text-align: center;
  color: #fff;
  margin-bottom: 70px;
  font-size: 45px;
  letter-spacing: 2px;
}

span{
  color: #fde02f;
}

p{
  color: wheat;
  font-size: 18px;
}

.search-field{
  height: 50px;
  padding: 10px;
}
.skills{
  width: 300px;
}
.location{
  width: 300px;
}
.search-btn{
  height: 50px;
  width: 150px;
  background: #fde02f;
  border: none;
  color: black;
}

a {
  color: #000000;
  font-family: Verdana;
}
a:hover{
  text-decoration: none;
  color: #000000;
}

.font-box{
  background: rgba(255, 255, 255, 0.5);
  padding: 30px 50px;
}

@media (max-width: 1100px){
  .skills{
    margin-bottom: 10px;
  }
  .location{
    width: 300px;
  }
  h1{
    font-size: 35px;
  }
  
  p{
    margin-left: 30px;
  }
}

.table {
  width: 85%;
  margin-left: 91px;
}

h2{
   color: black;
   margin-bottom: 28px;
}

h5{
color: black;
margin-bottom: 68px;
}



